.ctHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 10px 0px 3px #000;
    box-sizing: border-box;
}

.ctHeader-imageItemLogo{
    width: 200px;
    
}